
.mq{
  background-color: rgb(227, 51, 201) !important ;
  color: white !important;
  font-weight: bold !important;
}
.b{
  background-color:  rgba(240, 147, 251, 1) !important;
}
@media only screen and (min-width: 600px){
.br{
  border-radius: 25px !important;
  /* box-shadow: 0px 0px 9px 1px rgb(239, 144, 225); */
}
}